POSTGRES_DB=crmhosp
POSTGRES_USER=crmhosp
POSTGRES_PASSWORD=crmhosp123
POSTGRES_PORT=5432

KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak123
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin123
KEYCLOAK_PORT=8080

NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_KEYCLOAK_URL=http://localhost:8080
NEXT_PUBLIC_CHATWOOT_URL=http://localhost:3000

API_PORT=3001
NODE_ENV=development

